<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <ul>
        <?php foreach($cart as $goods_id=> $item){ ?>
            <li>{$goods_id} {$item['name']} {$item['price']}

                <form action="{:U('cart/add')}" method="post">
                    <input type="hidden" name="goods_id" value="{$goods_id}">
                    <input type="text" name="qty" value="{$item['qty']}">
                    <input type="hidden" name="update" value="1">
                    <input type="submit" value="修改">
                </form>

                <a href="{:U('cart/delete',array('goods_id'=>$goods_id)) }">删除</a>


            </li>
        <?php } ?>
    </ul>


    <a href="{:U('order/create')}">确认下单</a>

</body>
</html>